# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Database
db.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Logs
*.log

# IDE-specific files
.idea/
.vscode/

# Virtual environment
venv/
